.advantages {
  width: @mobile-width;
  margin: 0 auto 47px;
}

.advantages__wrap {
  width: 100%;
}

.advantages__title {
  .font(@fz: 36px, @lh: 60px);
  margin: 0;
}

.advantages__list {
  .reset-list();
  display: flex;
  flex-direction: column;
}

.advantages__item {
  padding-top: 26px;
}

.advantages__description {
  .reset-list();
  padding-left: 80px;
  font-family: @addition-font;
  color: @midnight-grey;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: @content-tablet-width;
  }

  .advantages__wrap {
    width: 100%;
  }

  .advantages__title {
    .font(@fz: 60px, @lh: 60px);
    margin-top: 51px;
    padding-bottom: 63px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    .font(@fz: 16px, @lh: 24px);
    width: 354px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: @content-desktop-width;
  }

  .advantages__wrap {
    width: 100%;
  }

  .advantages__title {
    margin-top: 79px;
  }

  .advantages__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
