.advantages {
  max-width: @mobile-max-width;
  margin-left: 20px;
  margin-bottom: 47px;
}

.advantages__title {
  margin: 0;
  margin-left: 22px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  .reset-list();
}

.advantages__description {
  padding-left: 78px;
  font-family: @addition-font;
  color: @midnight-grey;
}
