.button {
  .font(@fz: 16px, @lh: 20px);
  display: block;
  box-sizing: border-box;
  padding: 0;
  height: 40px;
  background-color: @green;
  color: @white;
  text-transform: uppercase;
  text-align: center;
}
