.catalog-item__title {
  .font();
  max-width: 72px;
  margin: 0;
  padding: 0;
}

.catalog-item__table {
  margin-bottom: 23px;
  font-family: @addition-font;
  font-size: 12px;
  line-height: 16px;
  color: @midnight-grey;
}

.catalog-item__order {
  .button();
  margin-bottom: 25px;
}
