.catalog-item__title {
  .font(@fz: 16px, @lh: 20px);
  max-width: 72px;
  margin: 0;
  padding: 0;
}

.catalog-item__table {
  .font(@fz: 12px, @lh: 16px);
  margin-bottom: 23px;
  font-family: @addition-font;
  color: @midnight-grey;
}

.catalog-item__order {
  padding-top: 13px;
  margin-bottom: 25px;
}
