.contacts-list {
  .reset-list();
}

.contacts-list__item {
  .font(@fz: 16px);
  text-transform: uppercase;
  color: #222222;
}

@media (min-width: @desktop-width) {
  .contacts-list {
    display: flex;
  }
}
