.contacts__info {
  width: @content-mobile-width;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 34px;
}

.contacts__wrapper {
  width: @content-mobile-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts__logo {
  width: 128px;
}

@media (min-width: @tablet-width) {
  .contacts__info {
    width: auto;
    padding: 65px 40px 59px 41px;
  }

  .contacts__wrapper {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .contacts__info {
    margin-top: 96px;
    margin-bottom: 90px;
    padding: 66px 90px 59px 76px;
  }

  .contacts__wrapper {
    margin-top: 10px;
  }
}
