.example {
  min-width: @mobile-width;
  background-color: @grey;
}

.example__wrap {
  width: @content-mobile-width;
  margin: 0 auto;
}

.example__title {
  .font(@fz: 36px, @lh: 60px);
  margin: 0;
  padding: 0;
  padding-top: 33px;
}

.example__description {
  padding-top: 33px;
  padding-bottom: 27px;
  padding-right: 34px;
  font-family: @addition-font;
}

.example__stats {
  display: flex;
}

@media (min-width: @tablet-width) {
  .example__wrap {
    width: @content-tablet-width;
  }

  .example__wrapper {
    width: @content-tablet-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .example__wrap {
    width: @content-desktop-width;
    display: flex;
  }

  .example__container {
    width: 610px;
  }

  .example__wrapper {
    flex-direction: column;
  }

  .example__picture {
    width: 610px;
  }
}
