.extra {
  padding-top: 31px;
  padding-bottom: 14px;
}

.extra__title {
  .font(@fz: 24px, @lh: 24px);
  margin: 0;
  margin-left: 19px;
  padding-bottom: 52px;
}

.extra__list {
  .reset-list ();
  padding-left: 20px;
}

.extra__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}

.extra__button {
  width: 280px;
  font-family: @base-font;
  margin-top: 14px;
  margin-bottom: 17px;
  border: none;
}

.extra__subtitle {
  .font(@fz: 16px, @lh: 16px);
  margin: 0;
  color: #222222;
  text-transform: uppercase;
}

.extra__weight,
.extra__price {
  .font(@lh: 14px);
  font-family: @addition-font;
  color: @midnight-grey;
}

@media (min-width: @tablet-width) {
  .extra {
    width: auto;
    margin: 0 auto;
  }

  .extra__title {
    .font(@fz: 36px, @lh: 36px);
  }

  .extra__button {
    margin-right: 20px;
    width: 633px;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    width: @content-desktop-width;
  }

  .extra__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .extra__list {
    width: 895px;
  }

  .extra__subtitle {
    padding-right: 0;
  }

  .extra__button {
    width: 245px;
  }
}
