.field {
  .font(@fz: 16px);
  box-sizing: border-box;
  min-height: 45px;
  font-family: @base-font;
  text-transform: uppercase;
  color: @midnight-grey;
}

.field-name {
  min-width: 229px;
}

.field-weight {
  min-width: 204px;
}

.field-age {
  min-width: 172px;
}

@media (min-width: @tablet-width) {
  .field {
    .font(@fz: 20px, @lh: 20px);
    min-height: 52px;
  }

  .field-name {
    min-width: 567px;
  }

  .field-weight {
    min-width: 536px;
  }

  .field-age {
    min-width: 497px;
  }
}

@media (min-width: @desktop-width) {
  .field-name {
    min-width: 506px;
  }

  .field-weight {
    min-width: 475px;
  }

  .field-age {
    min-width: 436px;
  }

  .field-tel {
    min-width: 472px;
  }
}
