.form__title {
  .font(@fz: 24px, @lh: 24px);
}

.form__button {
  width: 280px;
  font-family: @base-font;
  margin-bottom: 34px;
}

.form__note {
  .font(@lh: 16px);
  font-family: @addition-font;
  color: @midnight-grey;
}
