.info-address {
  max-width: @mobile-max-width;
  background-color: @grey;
}

.info-address--index {
  background-color: @white;
}

.info-address__title {
  .font(@fz: 16px, @lh: 20px);
  display: block;
  padding-left: 20px;
  padding-top: 31px;
  text-transform: uppercase;
}

.info-address__address {
  .font(@lh: 20px);
  font-family: @addition-font;
}
