.info-address {
  max-width: @mobile-max-width;
  background-color: @grey;
}

.info-address--index {
  background-color: @white;
}

.info-address__title {
  .font();
  display: block;
  padding-left: 20px;
  padding-top: 31px;
  text-transform: uppercase;
}

.info-address__address {
  font-family: @addition-font;
  line-height: 20px;
}
