.main-block {
  width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 120px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  height: 305px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-block__title {
  .font(@fz: 36px, @lh: 36px);
  margin: 0;
  padding-left: 38px;
  padding-top: 29px;
  color: @white;
}

.main-block__slogan {
  .font(@lh: 14px);
  display: block;
  padding-top: 19px;
  padding-left: 60px;
  text-transform: uppercase;
  color: @white;
}

@media (min-width: @tablet-width) {
  .main-block {
    width: @content-tablet-width;
    background-image: none;
  }

  .main-block__title {
    .font (@fz: 60px, @lh: 60px);
    color: @black;
  }

  .main-block__slogan {
    color: @black;
  }
}

@media (min-width: @desktop-width) {
  .main-block {
    width: @content-desktop-width;
    background-image: url("../img/index-background-desktop@1x.jpg");
    height: 696px;
    background-position: right;
  }

  .main-block__image {
    margin-left: 300px;
  }
}
