.main-block {
  max-width: @mobile-max-width;
  margin-bottom: 120px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  height: 305px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-block__title {
  .font(@fz: 36px, @lh: 36px);
  padding-left: 38px;
  padding-top: 29px;
  color: @white;
}

.main-block__slogan {
  .font(@lh: 14px);
  padding-left: 60px;
  text-transform: uppercase;
  color: @white;
}
