.main-block {
  max-width: 320px;
  margin-left: 20px;
  margin-bottom: 120px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  height: 305px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-block__title {
  padding-left: 38px;
  padding-top: 29px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @white;
}
.main-block__slogan {
  padding-left: 60px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: @white;
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  width: 280px;
  height: 40px;
  background-color: @green;
  color: @white;
  text-transform: uppercase;
  text-align: center;
}
