.main-form {
  min-width: @mobile-width;
  margin-left: 20px;
  padding-bottom: 36px;
}

.main-form__title {
  .font(@fz: 36px, @lh: 60px);
}

.main-form__description {
  margin: 0;
  padding-bottom: 39px;
  text-transform: uppercase;
}

.main-form__write fieldset {
  border: none;
}
