.offer {
  max-width: @mobile-max-width;
  margin: 39px 0 35px 20px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
}

.offer__description {
  .font(@fz: 16px, @lh: 20px);
  margin: 0;
  font-family: @addition-font;
  color: @white;
}
