.offer {
  max-width: @mobile-max-width;
  margin-left: 20px;
  margin-top: 39px;
  margin-bottom: 35px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  width: 280px;
  height: 289px;
}

.offer__description {
  .font();
  margin: 0;
  font-family: @addition-font;
  color: @white;
}
