.page-footer {
  min-width: @mobile-width;
  margin: 0 auto;
}

.page-footer__contacts {
  min-width: @mobile-width;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer__contacts {
    width: @content-tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__contacts {
    width: @content-desktop-width;
  }
}
