.program {
  min-width: @mobile-width;
  margin: 0 auto;
}

.program__button {
  .font(@fz: 14px, @lh: 18px);
  width: 280px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-top: 14px;
  font-size: 14px;
  line-height: 18px;
}

.program__list {
  .reset-list();
}

.program__item {
  width: @content-mobile-width;
  margin: 0 auto;
  background-color: @grey;
}

.program__wrapper {
  margin-bottom: 20px;
  padding-right: 36px;
}

.program__title {
  .font(@fz: 24px, @lh: 37.02px);
  margin: 0;
  padding-top: 39px;
  padding-left: 92px;
  text-transform: uppercase;
}

.program__text {
  margin: 0;
  padding-top: 36px;
  padding-left: 21px;
  padding-bottom: 23px;
  font-family: @addition-font;
  color: @midnight-grey;
}

.program__link {
  .font(@fz: 16px, @lh: 16px);
  position: relative;
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 22px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 20px;

    width: 240px;
    height: 1px;
    background-color: #111111;
    opacity: 0.1;
  }

  & ::after {
    content: "";
    position: absolute;

    top: 25px;
    left: 120px;

    width: 24.2px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
  }
}

@media (min-width: @tablet-width) {
  .program {
    width: @content-tablet-width;
  }

  .program__button {
    .font(@fz: 20px, @lh: 20px);
    margin-left: 120px;
    margin-top: -123px;
    margin-bottom: 622px;
    padding-top: 17px;
    width: 245px;
    height: 52px;
  }

  .program__item {
    width: 100%;
  }

  .program__title {
    .font(@fz: 36px; @lh:37.02px);
    padding-top: 81px;
  }

  .program__text {
    .font(@fz: 16px, @lh: 24px);
    padding-top: 26px;
  }

  .program__link {
    .font(@fz: 20px, @lh: 20px);
    padding-top: 61px;
    padding-bottom: 62px;

    &::before {
      display: none;
    }

    &::after {
      left: 140px;
    }
  }
}

@media (min-width: @desktop-width) {
  .program {
    width: @content-desktop-width;
  }

  .program__button {
    margin-top: -346px;
    margin-bottom: 268px;
    margin-left: 190px;
  }

  .program__wrapper {
    margin: 0;
    padding: 0;
  }

  .program__list {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
  }

  .program__item {
    width: 570px;
    margin-right: 80px;
  }

  .program__item:last-child {
    margin-right: 0;
  }

  .program__text {
    padding-bottom: 0;
    padding-top: 75px;
    padding-right: 52px;
  }

  .program__link {
    padding-top: 36px;
    padding-right: 53px;
  }
}
